<div class="container">
    <div class="row">
      <div class="col-8 offset-2"style="padding-top:30px;">
        <form [formGroup]="signupForm"(ngSubmit)="onSubmit()">
          <div formGroupName="userdata">
          
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="text"
              formControlName="email"
              id="email"
              class="form-control">
              <span *ngIf="!signupForm.get('userdata.email').valid && signupForm.get('userdata.email').touched" class="help-block">
                please enter a valid user email
              </span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"  
              id="password"
              class="form-control">
              <span *ngIf="!signupForm.get('userdata.password').valid && signupForm.get('userdata.password').touched" class="help-block">
                password should be atleast 8 characters with atleast one special character
              </span>
          </div>
          <div class="form-group">
            <label for="subsriptions">Subscriptions</label>
              <select id="country" formControlName="subscription"class="form-control">
                  <option *ngFor="let c of subscriptions" [ngValue]="c">{{ c }}</option>
              </select>
          </div>
        </div>
          
         
          <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">
            please enter valid data
          </span>
          <button class="btn btn-outline-primary "  type="submit"[disabled]="signupForm.invalid">Submit</button>
        
        </form>  <hr/> <button [disabled]="signupForm.invalid" class="btn btn-outline-danger float-right" type="clear"(click)="onclear()">clear</button>
       
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  