<button class="btn btn-outline-info"(click)="fun()">click here to view details</button>
<div *ngIf="displaymode" class="container">
  <div class="jumbotron">
   <div class="list-group">
     <div class="list-group-item-heading">
      MAIL :<div class="list-group-item-text">
          {{email}}
         </div>
     </div>
     
      <div class="list-group-item-heading">
      PASSWORD :
      <div class="list-group-item-text">
          {{password}}
        </div>
      </div>
        
         <div class="list-group-item-heading">
     SUBSCRIPTION
        </div>
        <div class="list-group-item-text">
           {{subscription}}
        </div>
   </div>
  </div>
  </div>